node_modules
.env
.DS_Store
dist
coverage
build
.vscode
.idea
*.log
*.tmp
*.bak
*.swp
*.cache
*.pid
*.orig
*.sublime-workspace
*.sublime-project
*.vscode-test
*.eslintcache
*.tsbuildinfo
*.d.ts
*.js.map
*.jsx.map
*.css.map       